body {
    background-color: #ddd;
    font-family: Verdana;
    overflow: hidden;
    font-size: 0.9em;
}

#loading {
    width: 100%;
    margin-top:25px;
    font-size: 1.5em;
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

#pawn, #damage, #sims {
    font-size: .75em;
    color: #222;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    border:1px solid #aaa; 
    background-color: #eee;
    padding: 5px;
}

#sims {
    height: 150px;
    overflow: auto;
}

#threads {
    font-size: .75em;
    color: #222;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    border:1px solid #aaa; 
    background-color: #fff;
    padding: 3px;
}

.submit {
    width: 100%;
}

#region, #character, #realm, #model {
    width: 150px;
}

.header {
    padding-top: 20px;
    padding-left: 5px;
}

.subheader {
    font-size: .8em;
    padding-left: 5px;
}

.container {
    margin-top: 40px;
    margin-bottom: 30px; 
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
    border:1px solid #aaa; 
    background-color: #eee;
}

#character, #realm {
    margin-left: 5px;
}

#counter {
    margin-top:65px;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

#workers {
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.item {
    padding: 5px;
}

input[type=range]{
    -webkit-appearance: none;
}

#loadingHeader {
    margin-top: 40px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=text] {
    padding:2px; 
    border:1px solid #ccc; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit],input[type=button] {
    float: right;
    margin-right:10px;
    padding:3px 15px; 
    background:#bbb; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px; 
}

.loading2 {
    height:140px;
    position:relative;
    width:140px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;

    /* css3 transform - scale */
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
}
.loading2 > div {
    background-color:#FFFFFF;
    height:25px;
    position:absolute;
    width:25px;

    /* css3 radius */
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;

    /* css3 animation */
    -webkit-animation-name:loading2;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -moz-animation-name:loading2;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -o-animation-name:loading2;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
}
.loading2 > div:nth-child(1) {
    left:0;
    top:57px;

    /* css3 animation */
    -webkit-animation-delay:0.39s;
    -moz-animation-delay:0.39s;
    -o-animation-delay:0.39s;
}
.loading2 > div:nth-child(2) {
    left:17px;
    top:17px;

    /* css3 animation */
    -webkit-animation-delay:0.52s;
    -moz-animation-delay:0.52s;
    -o-animation-delay:0.52s;
}
.loading2 > div:nth-child(3) {
    left:57px;
    top:0;

    /* css3 animation */
    -webkit-animation-delay:0.65s;
    -moz-animation-delay:0.65s;
    -o-animation-delay:0.65s;
}
.loading2 > div:nth-child(4) {
    right:17px;
    top:17px;

    /* css3 animation */
    -webkit-animation-delay:0.78s;
    -moz-animation-delay:0.78s;
    -o-animation-delay:0.78s;
}
.loading2 > div:nth-child(5) {
    right:0;
    top:57px;

    /* css3 animation */
    -webkit-animation-delay:0.91s;
    -moz-animation-delay:0.91s;
    -o-animation-delay:0.91s;
}
.loading2 > div:nth-child(6) {
    right:17px;
    bottom:17px;

    /* css3 animation */
    -webkit-animation-delay:1.04s;
    -moz-animation-delay:1.04s;
    -o-animation-delay:1.04s;
}
.loading2 > div:nth-child(7) {
    left:57px;
    bottom:0;

    /* css3 animation */
    -webkit-animation-delay:1.17s;
    -moz-animation-delay:1.17s;
    -o-animation-delay:1.17s;
}
.loading2 > div:nth-child(8) {
    left:17px;
    bottom:17px;

    /* css3 animation */
    -webkit-animation-delay:1.3s;
    -moz-animation-delay:1.3s;
    -o-animation-delay:1.3s;
}

/* css3 keyframes - loading2 */
@-webkit-keyframes loading2 {
    0%{ background-color:#000000 }
    100%{ background-color:#FFFFFF }
}
@-moz-keyframes loading2 {
    0%{ background-color:#000000 }
    100%{ background-color:#FFFFFF }
}
@-o-keyframes loading2 {
    0%{ background-color:#000000 }
    100%{ background-color:#FFFFFF }
}